@charset "utf-8";
@charset "utf-8";
@media (min-width: 850px){
	.childbox-box{
		margin:10px;
		display:flex;
		font-size: 0;
	}
	.childbox-image {
		width:200px!important;
		border-radius:6px;
		line-height: 0;
		overflow:hidden;
		/*box-shadow: 0 3px 6px rgb(0 0 0 / 20%)*/;
		cursor: default;
		align-items: center;
		margin:auto;
	}
	.childbox-text{
		width: auto!important;
		flex: 1!important;
		margin-left:20px;
	}
	.childbox-title{
		flex:1;
		font-weight:700;
		font-size:20px;
		margin-top:5px;
	}
}
@media (max-width: 850px){
	.childbox-box{
		margin:10px;
		display:flex;
		flex-direction: column;
		font-size: 0;
	}
	.childbox-image {
		line-height: 0;
		width: 200px !important;
		border-radius:6px;
		overflow:hidden;
		/*box-shadow: 0 3px 6px rgb(0 0 0 / 20%)*/;
		cursor: default;
		align-items: center;
		margin:auto;
	}
	.childbox-text{
		width:100%;
	}
	.childbox-title{
		text-align:center;
		flex:1;
		font-weight:700;
		font-size:20px;
		margin-top:5px;
	}
}

.mw-parser-output img {
	height: auto !important;
    max-width: 100% !important;
}
